body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:610px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:10px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:200px;
  height:40px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:160px;
  width:200px;
  height:60px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:560px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:190px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u213_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u213_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-4px;
  width:8px;
  height:398px;
}
#u213_seg2 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:386px;
  width:144px;
  height:8px;
}
#u213_seg3 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:381px;
  width:18px;
  height:18px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:213px;
  width:100px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:272px;
  width:200px;
  height:40px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:50px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u217_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u217_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:18px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:120px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u219_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u219_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:220px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u221_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u221_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:345px;
  width:200px;
  height:40px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:312px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u225_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u225_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:18px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:385px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u227_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u227_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:18px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:418px;
  width:200px;
  height:40px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:458px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u231_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u231_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:20px;
  width:18px;
  height:18px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:490px;
  width:200px;
  height:40px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:530px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u235_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u235_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:18px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:95px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:190px;
  width:300px;
  height:95px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
