body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:86px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:360px;
  height:86px;
}
#u5122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#333333;
}
#u5123 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:70px;
  width:209px;
  height:38px;
  font-size:13px;
  color:#333333;
}
#u5124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u5125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5125 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:120px;
  width:220px;
  height:20px;
  color:#1E1E1E;
}
#u5126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u5127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5127 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:70px;
  width:70px;
  height:70px;
  color:#FFFFFF;
}
#u5128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u5130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u5131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u5132 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:13px;
  width:24px;
  height:25px;
}
#u5133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5134 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:10px;
  width:10px;
  height:10px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:40px;
}
#u5137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u5138 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:15px;
  width:79px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u5139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5140 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:158px;
  width:65px;
  height:20px;
  color:#1E1E1E;
}
#u5141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5142 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:158px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5144 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:158px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#1E1E1E;
  text-align:right;
}
#u5145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5144_ann {
  border-width:0px;
  position:absolute;
  left:308px;
  top:154px;
  width:1px;
  height:1px;
}
#u5146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5146 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:238px;
  width:65px;
  height:20px;
  color:#999999;
}
#u5147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5148 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:238px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u5150 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:238px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u5151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:360px;
  height:37px;
}
#u5153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u5154 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:197px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u5155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5154_ann {
  border-width:0px;
  position:absolute;
  left:98px;
  top:193px;
  width:1px;
  height:1px;
}
#u5156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5156 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:197px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5158 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:197px;
  width:20px;
  height:20px;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u5160 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:197px;
  width:57px;
  height:20px;
  color:#009900;
}
#u5161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:198px;
  width:11px;
  height:19px;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u5164 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:159px;
  width:11px;
  height:19px;
}
#u5165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u5166 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:188px;
  width:337px;
  height:1px;
}
#u5167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u5168 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:228px;
  width:337px;
  height:1px;
}
#u5169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:86px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:360px;
  height:86px;
}
#u5172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#333333;
}
#u5173 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:280px;
  width:209px;
  height:38px;
  font-size:13px;
  color:#333333;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u5175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:330px;
  width:220px;
  height:20px;
  color:#1E1E1E;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u5177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:280px;
  width:70px;
  height:70px;
  color:#FFFFFF;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u5179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:368px;
  width:65px;
  height:20px;
  color:#1E1E1E;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:368px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5183 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:368px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#1E1E1E;
  text-align:right;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5183_ann {
  border-width:0px;
  position:absolute;
  left:308px;
  top:364px;
  width:1px;
  height:1px;
}
#u5185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:448px;
  width:65px;
  height:20px;
  color:#999999;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:448px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:448px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:398px;
  width:360px;
  height:37px;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:407px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5193_ann {
  border-width:0px;
  position:absolute;
  left:98px;
  top:403px;
  width:1px;
  height:1px;
}
#u5195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:407px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:407px;
  width:20px;
  height:20px;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:407px;
  width:57px;
  height:20px;
  color:#009900;
}
#u5200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:408px;
  width:11px;
  height:19px;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:369px;
  width:11px;
  height:19px;
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:398px;
  width:337px;
  height:1px;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:438px;
  width:337px;
  height:1px;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
