body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u17398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:40px;
}
#u17400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u17401 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:76px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u17402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u17403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u17403 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:155px;
  width:108px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u17404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u17405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17405 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:191px;
  width:118px;
  height:17px;
  font-size:12px;
}
#u17406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u17407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u17407 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:155px;
  width:70px;
  height:70px;
  color:#999999;
}
#u17408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u17409 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:155px;
  width:36px;
  height:20px;
  color:#999999;
  text-align:right;
}
#u17410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u17411_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17411 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:178px;
  width:70px;
  height:3px;
  color:#999999;
}
#u17412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17413_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17413 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:202px;
  width:70px;
  height:3px;
  color:#999999;
}
#u17414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17415_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17415 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:188px;
  width:70px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#999999;
}
#u17416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17417_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17417 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:188px;
  width:70px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#999999;
}
#u17418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u17419 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:270px;
  width:108px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u17420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u17421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17421 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:296px;
  width:81px;
  height:17px;
  font-size:12px;
}
#u17422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17423 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:323px;
  width:75px;
  height:17px;
  font-size:12px;
}
#u17424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u17425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u17425 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:370px;
  width:108px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u17426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u17427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17427 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:396px;
  width:74px;
  height:17px;
  font-size:12px;
}
#u17428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u17429 {
  position:absolute;
  left:250px;
  top:410px;
}
#u17429_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
}
#u17429_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u17431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17429_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  visibility:hidden;
  background-image:none;
}
#u17429_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000099;
}
#u17432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
  color:#000099;
}
#u17433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17434 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:423px;
  width:75px;
  height:17px;
  font-size:12px;
}
#u17435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u17436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u17437 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:60px;
  width:127px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u17438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u17439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17439 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:96px;
  width:255px;
  height:34px;
  font-size:12px;
}
#u17440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u17441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u17441 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:70px;
  height:70px;
}
#u17442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u17443 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:60px;
  width:70px;
  height:20px;
  color:#999999;
  text-align:right;
}
#u17444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u17445_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17445 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:83px;
  width:70px;
  height:3px;
}
#u17446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17447_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17447 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:107px;
  width:70px;
  height:3px;
}
#u17448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17449_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17449 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:93px;
  width:70px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u17450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17451_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17451 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:93px;
  width:70px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u17452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u17453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:360px;
  height:1px;
}
#u17454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u17455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:360px;
  height:1px;
}
#u17456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17457 {
  position:absolute;
  left:250px;
  top:310px;
}
#u17457_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
}
#u17457_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u17459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17457_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  visibility:hidden;
  background-image:none;
}
#u17457_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000099;
}
#u17460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
  color:#000099;
}
#u17461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:72px;
  height:40px;
  font-size:12px;
}
#u17464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u17465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17465 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:640px;
  width:72px;
  height:40px;
  font-size:12px;
}
#u17466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u17467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17467 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:640px;
  width:72px;
  height:40px;
  font-size:12px;
}
#u17468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u17469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17469 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:640px;
  width:72px;
  height:40px;
  font-size:12px;
}
#u17470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u17471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17471 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:640px;
  width:72px;
  height:40px;
  font-size:12px;
}
#u17472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u17473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u17473 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:640px;
  width:60px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u17474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u17475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:360px;
  height:10px;
}
#u17476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u17477 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:269px;
  width:70px;
  height:70px;
  color:#999999;
}
#u17478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17479_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17479 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:292px;
  width:70px;
  height:3px;
  color:#999999;
}
#u17480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17481_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17481 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:316px;
  width:70px;
  height:3px;
  color:#999999;
}
#u17482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17483_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17483 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:302px;
  width:70px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#999999;
}
#u17484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17485_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17485 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:302px;
  width:70px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#999999;
}
#u17486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u17487 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:372px;
  width:70px;
  height:70px;
  color:#999999;
}
#u17488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17489_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17489 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:395px;
  width:70px;
  height:3px;
  color:#999999;
}
#u17490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17491_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17491 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:419px;
  width:70px;
  height:3px;
  color:#999999;
}
#u17492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17493_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17493 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:405px;
  width:70px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#999999;
}
#u17494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17495_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u17495 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:405px;
  width:70px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#999999;
}
#u17496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
