body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-210px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13119 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:2px;
  width:233px;
  height:24px;
}
#u13120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u13121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13121 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:75px;
  width:90px;
  height:30px;
}
#u13122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13123 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:78px;
  width:87px;
  height:25px;
}
#u13123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13123_input {
  font-family:'微软雅黑';
}
#u13124 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:80px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13125 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u13124_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13126 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:110px;
  width:50px;
  height:40px;
  color:#FFFFFF;
}
#u13127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u13128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13128 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:110px;
  width:136px;
  height:40px;
}
#u13129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u13130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13130 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:110px;
  width:267px;
  height:40px;
}
#u13131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:263px;
  word-wrap:break-word;
}
#u13132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13132 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:110px;
  width:267px;
  height:40px;
  color:#FFFFFF;
}
#u13133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13134 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:150px;
  width:50px;
  height:115px;
  color:#000000;
}
#u13135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:46px;
  word-wrap:break-word;
}
#u13136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13136 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:150px;
  width:136px;
  height:115px;
  color:#FFFFFF;
}
#u13137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:132px;
  word-wrap:break-word;
}
#u13138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13138 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:150px;
  width:267px;
  height:115px;
  color:#FFFFFF;
}
#u13139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:263px;
  word-wrap:break-word;
}
#u13140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13140 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:150px;
  width:267px;
  height:115px;
  color:#FFFFFF;
}
#u13141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:263px;
  word-wrap:break-word;
}
#u13142 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:154px;
  width:249px;
  height:105px;
}
#u13142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13142_input {
  font-family:'微软雅黑';
}
#u13143 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:155px;
  width:249px;
  height:105px;
}
#u13143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13143_input {
  font-family:'微软雅黑';
}
#u13144 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:121px;
  width:46px;
  height:19px;
  color:#FFFFFF;
}
#u13145 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u13144_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13146 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:265px;
  width:50px;
  height:115px;
  color:#000000;
}
#u13147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:46px;
  word-wrap:break-word;
}
#u13148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13148 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:265px;
  width:136px;
  height:115px;
  color:#FFFFFF;
}
#u13149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:132px;
  word-wrap:break-word;
}
#u13150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13150 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:265px;
  width:267px;
  height:115px;
  color:#FFFFFF;
}
#u13151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:263px;
  word-wrap:break-word;
}
#u13152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13152 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:265px;
  width:267px;
  height:115px;
  color:#FFFFFF;
}
#u13153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:263px;
  word-wrap:break-word;
}
#u13154 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:269px;
  width:249px;
  height:105px;
}
#u13154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13154_input {
  font-family:'微软雅黑';
}
#u13155 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:270px;
  width:249px;
  height:105px;
}
#u13155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13155_input {
  font-family:'微软雅黑';
}
#u13156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13156 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:390px;
  width:20px;
  height:20px;
}
#u13157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13158 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:110px;
  width:80px;
  height:40px;
}
#u13159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u13160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13160 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:150px;
  width:80px;
  height:115px;
  color:#FFFFFF;
}
#u13161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:76px;
  word-wrap:break-word;
}
#u13162 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:195px;
  width:75px;
  height:25px;
}
#u13162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13162_input {
  font-family:'微软雅黑';
}
#u13163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13163 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:265px;
  width:80px;
  height:115px;
  color:#FFFFFF;
}
#u13164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:76px;
  word-wrap:break-word;
}
#u13165 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:310px;
  width:75px;
  height:25px;
}
#u13165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13165_input {
  font-family:'微软雅黑';
}
#u13166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13166 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:461px;
  width:50px;
  height:40px;
  color:#FFFFFF;
}
#u13167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u13168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13168 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:461px;
  width:136px;
  height:40px;
}
#u13169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u13170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13170 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:461px;
  width:267px;
  height:40px;
}
#u13171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:263px;
  word-wrap:break-word;
}
#u13172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13172 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:461px;
  width:267px;
  height:40px;
  color:#FFFFFF;
}
#u13173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13174 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:501px;
  width:50px;
  height:115px;
  color:#000000;
}
#u13175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:46px;
  word-wrap:break-word;
}
#u13176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13176 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:501px;
  width:136px;
  height:115px;
  color:#FFFFFF;
}
#u13177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:132px;
  word-wrap:break-word;
}
#u13178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13178 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:501px;
  width:267px;
  height:115px;
  color:#FFFFFF;
}
#u13179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:263px;
  word-wrap:break-word;
}
#u13180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13180 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:501px;
  width:267px;
  height:115px;
  color:#FFFFFF;
}
#u13181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:263px;
  word-wrap:break-word;
}
#u13182 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:505px;
  width:249px;
  height:105px;
}
#u13182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13182_input {
  font-family:'微软雅黑';
}
#u13183 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:506px;
  width:249px;
  height:105px;
}
#u13183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13183_input {
  font-family:'微软雅黑';
}
#u13184 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:472px;
  width:46px;
  height:19px;
  color:#FFFFFF;
}
#u13185 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u13184_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13186 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:616px;
  width:50px;
  height:115px;
  color:#000000;
}
#u13187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:46px;
  word-wrap:break-word;
}
#u13188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13188 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:616px;
  width:136px;
  height:115px;
  color:#FFFFFF;
}
#u13189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:132px;
  word-wrap:break-word;
}
#u13190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13190 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:616px;
  width:267px;
  height:115px;
  color:#FFFFFF;
}
#u13191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:263px;
  word-wrap:break-word;
}
#u13192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13192 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:616px;
  width:267px;
  height:115px;
  color:#FFFFFF;
}
#u13193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:263px;
  word-wrap:break-word;
}
#u13194 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:620px;
  width:249px;
  height:105px;
}
#u13194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13194_input {
  font-family:'微软雅黑';
}
#u13195 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:621px;
  width:249px;
  height:105px;
}
#u13195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13195_input {
  font-family:'微软雅黑';
}
#u13196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13196 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:741px;
  width:20px;
  height:20px;
}
#u13197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13198 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:461px;
  width:80px;
  height:40px;
}
#u13199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u13200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13200 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:501px;
  width:80px;
  height:115px;
  color:#FFFFFF;
}
#u13201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:76px;
  word-wrap:break-word;
}
#u13202 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:546px;
  width:75px;
  height:25px;
}
#u13202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13202_input {
  font-family:'微软雅黑';
}
#u13203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13203 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:616px;
  width:80px;
  height:115px;
  color:#FFFFFF;
}
#u13204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:76px;
  word-wrap:break-word;
}
#u13205 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:661px;
  width:75px;
  height:25px;
}
#u13205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13205_input {
  font-family:'微软雅黑';
}
#u13206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u13206 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:415px;
  width:800px;
  height:1px;
}
#u13207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13209 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:195px;
  width:50px;
  height:25px;
}
#u13209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13209_input {
  font-family:'微软雅黑';
}
#u13210_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:5px;
}
#u13210 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:207px;
  width:10px;
  height:2px;
}
#u13211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13212 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:195px;
  width:50px;
  height:25px;
}
#u13212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13212_input {
  font-family:'微软雅黑';
}
#u13213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13214 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:661px;
  width:50px;
  height:25px;
}
#u13214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13214_input {
  font-family:'微软雅黑';
}
#u13215_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:5px;
}
#u13215 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:673px;
  width:10px;
  height:2px;
}
#u13216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13217 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:661px;
  width:50px;
  height:25px;
}
#u13217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13217_input {
  font-family:'微软雅黑';
}
#u13218 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:73px;
  width:131px;
  height:30px;
}
#u13218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13218_input {
  font-family:'微软雅黑';
}
#u13218_input:disabled {
  color:grayText;
}
#u13219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13219 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:80px;
  width:92px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u13221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13221 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:78px;
  width:15px;
  height:20px;
}
#u13222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13223 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:428px;
  width:90px;
  height:30px;
}
#u13224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13225 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:431px;
  width:87px;
  height:25px;
}
#u13225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13225_input {
  font-family:'微软雅黑';
}
#u13226 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:433px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13227 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u13226_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13228 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:426px;
  width:131px;
  height:30px;
}
#u13228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13228_input {
  font-family:'微软雅黑';
}
#u13228_input:disabled {
  color:grayText;
}
#u13229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13229 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:433px;
  width:92px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u13231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13231 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:431px;
  width:15px;
  height:20px;
}
#u13232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13234 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:310px;
  width:50px;
  height:25px;
}
#u13234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13234_input {
  font-family:'微软雅黑';
}
#u13235_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:5px;
}
#u13235 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:322px;
  width:10px;
  height:2px;
}
#u13236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13237 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:310px;
  width:50px;
  height:25px;
}
#u13237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13237_input {
  font-family:'微软雅黑';
}
#u13238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13239 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:546px;
  width:50px;
  height:25px;
}
#u13239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13239_input {
  font-family:'微软雅黑';
}
#u13240_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:5px;
}
#u13240 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:558px;
  width:10px;
  height:2px;
}
#u13241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13242 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:546px;
  width:50px;
  height:25px;
}
#u13242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13242_input {
  font-family:'微软雅黑';
}
#u13243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13243 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:807px;
  width:140px;
  height:40px;
}
#u13244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13246 {
  position:fixed;
  left:0px;
  top:0px;
  width:200px;
  height:570px;
  overflow:hidden;
}
#u13246_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u13246_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13247 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:38px;
  width:191px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u13249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13249 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:353px;
  width:191px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u13251 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:401px;
  width:79px;
  height:19px;
}
#u13252 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13251_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13253 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:437px;
  width:79px;
  height:19px;
}
#u13254 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13253_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13255 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:78px;
  width:120px;
  height:30px;
}
#u13256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u13257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13257 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:122px;
  width:120px;
  height:30px;
  font-size:14px;
}
#u13258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u13259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13259 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:210px;
  width:120px;
  height:30px;
}
#u13260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u13261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13262 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:166px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13264 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:168px;
  width:128px;
  height:27px;
}
#u13265 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13264_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u13266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13267 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:254px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13269 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:260px;
  width:75px;
  height:19px;
}
#u13270 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u13269_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13272 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:298px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13274 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:304px;
  width:75px;
  height:19px;
}
#u13275 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u13274_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#1E1E1E;
}
#u13276 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:436px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u13277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13278 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:466px;
  width:140px;
  height:40px;
}
#u13279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13280 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:522px;
  width:140px;
  height:40px;
}
#u13281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
