body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:755px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:360px;
  height:35px;
  color:#666666;
}
#u6433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u6434 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:88px;
  width:149px;
  height:19px;
  font-size:13px;
  color:#666666;
}
#u6435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u6436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6436 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:130px;
  width:174px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u6438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:360px;
  height:50px;
}
#u6439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:40px;
  height:40px;
}
#u6441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6442 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:45px;
  width:95px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u6443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u6444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6444 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:130px;
  width:70px;
  height:70px;
  color:#FFFFFF;
}
#u6445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u6444_ann {
  border-width:0px;
  position:absolute;
  left:78px;
  top:126px;
  width:1px;
  height:1px;
}
#u6446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6446 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:181px;
  width:157px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u6448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6448 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:210px;
  width:131px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u6450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6450 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:210px;
  width:70px;
  height:70px;
  color:#FFFFFF;
}
#u6451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u6452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6452 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:261px;
  width:79px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u6454 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:156px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u6455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  text-align:right;
}
#u6456 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:236px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  text-align:right;
}
#u6457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:360px;
  height:35px;
  color:#666666;
}
#u6460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u6461 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:448px;
  width:149px;
  height:19px;
  font-size:13px;
  color:#666666;
}
#u6462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u6463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6463 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:490px;
  width:170px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u6465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6465 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:490px;
  width:70px;
  height:70px;
  color:#FFFFFF;
}
#u6466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u6467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6467 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:541px;
  width:79px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u6469 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:516px;
  width:65px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u6470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u6471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:370px;
  width:251px;
  height:50px;
  font-size:14px;
  text-align:right;
}
#u6472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u6473 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:370px;
  width:109px;
  height:50px;
  font-size:13px;
  color:#FFFFFF;
}
#u6474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u6475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u6475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:251px;
  height:50px;
  font-size:14px;
  text-align:right;
}
#u6476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u6477 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:570px;
  width:109px;
  height:50px;
  font-size:13px;
  color:#FFFFFF;
}
#u6478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u6479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6479 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:290px;
  width:170px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u6481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6481 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:290px;
  width:70px;
  height:70px;
  color:#FFFFFF;
}
#u6482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u6483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6483 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:341px;
  width:144px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u6485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  text-align:right;
}
#u6485 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:316px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  text-align:right;
}
#u6486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:100px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6487 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:570px;
  width:373px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6488 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u6489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:125px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u6489 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:368px;
  width:373px;
  height:125px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u6490 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u6491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:100px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6491 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:129px;
  width:373px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6492 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u6493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u6493 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:374px;
  width:121px;
  height:20px;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u6494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u6495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u6495 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:397px;
  width:120px;
  height:20px;
  font-size:14px;
  text-align:right;
}
#u6496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u6497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:205px;
  width:323px;
  height:1px;
}
#u6498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u6499 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:285px;
  width:323px;
  height:1px;
}
#u6500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u6501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u6502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6503 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:445px;
  width:25px;
  height:25px;
}
#u6504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6505 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:85px;
  width:25px;
  height:25px;
}
#u6506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6505_ann {
  border-width:0px;
  position:absolute;
  left:331px;
  top:81px;
  width:1px;
  height:1px;
}
