body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u18013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u18014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:40px;
}
#u18015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u18016 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:73px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u18017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:590px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:360px;
  height:590px;
}
#u18019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:287px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:360px;
  height:73px;
}
#u18021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18022 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:172px;
  width:106px;
  height:17px;
  font-size:12px;
}
#u18023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u18024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18024 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:72px;
  width:73px;
  height:17px;
  font-size:12px;
}
#u18025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:281px;
  height:47px;
  font-size:12px;
}
#u18027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:277px;
  word-wrap:break-word;
}
#u18028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:17px;
}
#u18028 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:210px;
  width:336px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u18029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u18030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u18030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:360px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u18031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  word-wrap:break-word;
}
#u18032 {
  position:absolute;
  left:0px;
  top:210px;
  visibility:hidden;
}
#u18032_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
  background-image:none;
}
#u18032_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u18033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
  font-size:14px;
  color:#FFFFFF;
}
#u18034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u18035 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1px;
  width:65px;
  height:65px;
}
#u18036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u18037 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:23px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u18038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u18039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18039 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:99px;
  width:79px;
  height:47px;
  color:#FFFFFF;
}
#u18040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
