body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:913px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:633px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:633px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:308px;
  width:909px;
  visibility:hidden;
  word-wrap:break-word;
}
