body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:192px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:60px;
  width:350px;
  height:192px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:192px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:260px;
  width:350px;
  height:192px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:127px;
  width:30px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:15px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:40px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:157px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:187px;
  width:350px;
  height:65px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:196px;
  width:321px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFCC00;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:225px;
  width:66px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFCC00;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:225px;
  width:42px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:387px;
  width:350px;
  height:65px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:396px;
  width:321px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFCC00;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:425px;
  width:66px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFCC00;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:425px;
  width:42px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:192px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:460px;
  width:350px;
  height:192px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:587px;
  width:350px;
  height:65px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:596px;
  width:321px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00FF00;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:625px;
  width:202px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00FF00;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:625px;
  width:42px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:192px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:660px;
  width:350px;
  height:192px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:787px;
  width:350px;
  height:65px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:796px;
  width:321px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:825px;
  width:42px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:41px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:825px;
  width:73px;
  height:20px;
  font-size:12px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
