body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u19618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:40px;
}
#u19620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u19621 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:52px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u19622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u19623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19623 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:95px;
  width:50px;
  height:50px;
}
#u19624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:360px;
  height:1px;
}
#u19626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u19627 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:122px;
  width:160px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u19628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u19629 {
  position:absolute;
  left:287px;
  top:112px;
}
#u19629_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background-image:none;
}
#u19629_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:29px;
  height:15px;
}
#u19632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u19633 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:2px;
  width:14px;
  height:14px;
}
#u19634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19635 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:37px;
  height:17px;
  font-size:12px;
}
#u19636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19629_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  visibility:hidden;
  background-image:none;
}
#u19629_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:29px;
  height:15px;
}
#u19639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u19640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:14px;
  height:14px;
}
#u19641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19642 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u19643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19644 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:155px;
  width:50px;
  height:50px;
}
#u19645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:360px;
  height:1px;
}
#u19647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u19648 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:182px;
  width:160px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u19649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u19650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19650 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:215px;
  width:50px;
  height:50px;
}
#u19651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u19652 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:242px;
  width:160px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u19653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u19654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u19654 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:100px;
  width:70px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u19655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u19656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u19656 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:160px;
  width:77px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u19657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u19658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u19658 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:220px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u19659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19660 {
  position:absolute;
  left:287px;
  top:172px;
}
#u19660_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background-image:none;
}
#u19660_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:29px;
  height:15px;
}
#u19663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u19664 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:2px;
  width:14px;
  height:14px;
}
#u19665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19666 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:37px;
  height:17px;
  font-size:12px;
}
#u19667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19660_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  visibility:hidden;
  background-image:none;
}
#u19660_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:29px;
  height:15px;
}
#u19670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u19671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:14px;
  height:14px;
}
#u19672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19673 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u19674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19675 {
  position:absolute;
  left:287px;
  top:232px;
}
#u19675_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background-image:none;
}
#u19675_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:29px;
  height:15px;
}
#u19678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u19679 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:2px;
  width:14px;
  height:14px;
}
#u19680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19681 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:37px;
  height:17px;
  font-size:12px;
}
#u19682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19675_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  visibility:hidden;
  background-image:none;
}
#u19675_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:29px;
  height:15px;
}
#u19685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u19686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:14px;
  height:14px;
}
#u19687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19688 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u19689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19690 {
  position:absolute;
  left:0px;
  top:310px;
  visibility:hidden;
}
#u19690_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
  background-image:none;
}
#u19690_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
  font-size:14px;
  color:#FFFFFF;
}
#u19692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u19693 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:1px;
  width:65px;
  height:65px;
}
#u19694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19695 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:23px;
  width:202px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u19697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u19697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:360px;
  height:35px;
  font-size:12px;
  color:#FF0000;
}
#u19698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:356px;
  word-wrap:break-word;
}
