body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-210px;
  width:814px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13345 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:2px;
  width:233px;
  height:24px;
}
#u13346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u13347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13347 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:80px;
  width:50px;
  height:40px;
  color:#FFFFFF;
}
#u13348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u13349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13349 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:80px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u13350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13351 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:80px;
  width:200px;
  height:40px;
}
#u13352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u13353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13353 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:80px;
  width:200px;
  height:40px;
  color:#FFFFFF;
}
#u13354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13355 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:120px;
  width:50px;
  height:115px;
  color:#000000;
}
#u13356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:46px;
  word-wrap:break-word;
}
#u13357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13357 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:120px;
  width:100px;
  height:115px;
  color:#FFFFFF;
}
#u13358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u13359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13359 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:120px;
  width:200px;
  height:115px;
  color:#FFFFFF;
}
#u13360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:196px;
  word-wrap:break-word;
}
#u13361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13361 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:120px;
  width:200px;
  height:115px;
  color:#FFFFFF;
}
#u13362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:196px;
  word-wrap:break-word;
}
#u13363 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:124px;
  width:187px;
  height:105px;
}
#u13363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13363_input {
  font-family:'微软雅黑';
}
#u13364 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:125px;
  width:187px;
  height:105px;
}
#u13364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13364_input {
  font-family:'微软雅黑';
}
#u13365 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:91px;
  width:47px;
  height:19px;
  color:#FFFFFF;
}
#u13366 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u13365_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13367 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:235px;
  width:50px;
  height:115px;
  color:#000000;
}
#u13368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:46px;
  word-wrap:break-word;
}
#u13369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13369 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:235px;
  width:100px;
  height:115px;
  color:#FFFFFF;
}
#u13370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u13371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13371 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:235px;
  width:200px;
  height:115px;
  color:#FFFFFF;
}
#u13372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:196px;
  word-wrap:break-word;
}
#u13373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13373 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:235px;
  width:200px;
  height:115px;
  color:#FFFFFF;
}
#u13374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:196px;
  word-wrap:break-word;
}
#u13375 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:239px;
  width:187px;
  height:105px;
}
#u13375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13375_input {
  font-family:'微软雅黑';
}
#u13376 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:240px;
  width:187px;
  height:105px;
}
#u13376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13376_input {
  font-family:'微软雅黑';
}
#u13377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13377 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:80px;
  width:64px;
  height:40px;
}
#u13378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u13379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13379 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:120px;
  width:64px;
  height:115px;
  color:#FFFFFF;
}
#u13380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:60px;
  word-wrap:break-word;
}
#u13381 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:165px;
  width:60px;
  height:25px;
}
#u13381_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13381_input {
  font-family:'微软雅黑';
}
#u13382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13382 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:235px;
  width:64px;
  height:115px;
  color:#FFFFFF;
}
#u13383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:60px;
  word-wrap:break-word;
}
#u13384 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:280px;
  width:60px;
  height:25px;
}
#u13384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13384_input {
  font-family:'微软雅黑';
}
#u13385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13385 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:80px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u13386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13387 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:120px;
  width:100px;
  height:115px;
  color:#FFFFFF;
}
#u13388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u13389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13389 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:235px;
  width:100px;
  height:115px;
  color:#FFFFFF;
}
#u13390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u13391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13391 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:80px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u13392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13393 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:120px;
  width:100px;
  height:115px;
  color:#FFFFFF;
}
#u13394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u13395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13395 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:235px;
  width:100px;
  height:115px;
  color:#FFFFFF;
}
#u13396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u13397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13398 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:165px;
  width:37px;
  height:25px;
}
#u13398_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13398_input {
  font-family:'微软雅黑';
}
#u13399_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:5px;
}
#u13399 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:177px;
  width:8px;
  height:2px;
}
#u13400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13401 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:165px;
  width:37px;
  height:25px;
}
#u13401_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13401_input {
  font-family:'微软雅黑';
}
#u13402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13403 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:165px;
  width:37px;
  height:25px;
}
#u13403_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13403_input {
  font-family:'微软雅黑';
}
#u13404_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:5px;
}
#u13404 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:177px;
  width:7px;
  height:2px;
}
#u13405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13406 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:165px;
  width:37px;
  height:25px;
}
#u13406_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13406_input {
  font-family:'微软雅黑';
}
#u13407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13408 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:165px;
  width:37px;
  height:25px;
}
#u13408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13408_input {
  font-family:'微软雅黑';
}
#u13409_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:5px;
}
#u13409 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:177px;
  width:7px;
  height:2px;
}
#u13410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13411 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:165px;
  width:37px;
  height:25px;
}
#u13411_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13411_input {
  font-family:'微软雅黑';
}
#u13412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13413 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:280px;
  width:37px;
  height:25px;
}
#u13413_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13413_input {
  font-family:'微软雅黑';
}
#u13414_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:5px;
}
#u13414 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:292px;
  width:8px;
  height:2px;
}
#u13415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13416 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:280px;
  width:37px;
  height:25px;
}
#u13416_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13416_input {
  font-family:'微软雅黑';
}
#u13417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13418 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:280px;
  width:37px;
  height:25px;
}
#u13418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13418_input {
  font-family:'微软雅黑';
}
#u13419_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:5px;
}
#u13419 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:292px;
  width:7px;
  height:2px;
}
#u13420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13421 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:280px;
  width:37px;
  height:25px;
}
#u13421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13421_input {
  font-family:'微软雅黑';
}
#u13422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13423 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:280px;
  width:37px;
  height:25px;
}
#u13423_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13423_input {
  font-family:'微软雅黑';
}
#u13424_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:5px;
}
#u13424 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:292px;
  width:7px;
  height:2px;
}
#u13425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13426 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:280px;
  width:37px;
  height:25px;
}
#u13426_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13426_input {
  font-family:'微软雅黑';
}
#u13427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13427 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:350px;
  width:50px;
  height:115px;
  color:#000000;
}
#u13428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:46px;
  word-wrap:break-word;
}
#u13429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13429 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:350px;
  width:100px;
  height:115px;
  color:#FFFFFF;
}
#u13430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u13431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13431 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:350px;
  width:200px;
  height:115px;
  color:#FFFFFF;
}
#u13432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:196px;
  word-wrap:break-word;
}
#u13433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13433 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:350px;
  width:200px;
  height:115px;
  color:#FFFFFF;
}
#u13434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:196px;
  word-wrap:break-word;
}
#u13435 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:354px;
  width:187px;
  height:105px;
}
#u13435_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13435_input {
  font-family:'微软雅黑';
}
#u13436 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:355px;
  width:187px;
  height:105px;
}
#u13436_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13436_input {
  font-family:'微软雅黑';
}
#u13437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13437 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:475px;
  width:20px;
  height:20px;
}
#u13438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13439 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:350px;
  width:64px;
  height:115px;
  color:#FFFFFF;
}
#u13440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:60px;
  word-wrap:break-word;
}
#u13441 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:395px;
  width:60px;
  height:25px;
}
#u13441_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13441_input {
  font-family:'微软雅黑';
}
#u13442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13442 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:350px;
  width:100px;
  height:115px;
  color:#FFFFFF;
}
#u13443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u13444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13444 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:350px;
  width:100px;
  height:115px;
  color:#FFFFFF;
}
#u13445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u13446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13447 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:395px;
  width:37px;
  height:25px;
}
#u13447_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13447_input {
  font-family:'微软雅黑';
}
#u13448_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:5px;
}
#u13448 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:407px;
  width:8px;
  height:2px;
}
#u13449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13450 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:395px;
  width:37px;
  height:25px;
}
#u13450_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13450_input {
  font-family:'微软雅黑';
}
#u13451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13452 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:395px;
  width:37px;
  height:25px;
}
#u13452_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13452_input {
  font-family:'微软雅黑';
}
#u13453_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:5px;
}
#u13453 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:407px;
  width:7px;
  height:2px;
}
#u13454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13455 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:395px;
  width:37px;
  height:25px;
}
#u13455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13455_input {
  font-family:'微软雅黑';
}
#u13456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13457 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:395px;
  width:37px;
  height:25px;
}
#u13457_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13457_input {
  font-family:'微软雅黑';
}
#u13458_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:5px;
}
#u13458 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:407px;
  width:7px;
  height:2px;
}
#u13459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13460 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:395px;
  width:37px;
  height:25px;
}
#u13460_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13460_input {
  font-family:'微软雅黑';
}
#u13461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13461 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:518px;
  width:140px;
  height:40px;
}
#u13462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13464 {
  position:fixed;
  left:0px;
  top:0px;
  width:200px;
  height:570px;
  overflow:hidden;
}
#u13464_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u13464_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13465 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:38px;
  width:191px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u13467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13467 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:353px;
  width:191px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u13469 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:401px;
  width:79px;
  height:19px;
}
#u13470 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13469_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13471 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:437px;
  width:79px;
  height:19px;
}
#u13472 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13471_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13473 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:78px;
  width:120px;
  height:30px;
}
#u13474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u13475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13475 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:122px;
  width:120px;
  height:30px;
  font-size:14px;
}
#u13476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u13477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13477 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:210px;
  width:120px;
  height:30px;
}
#u13478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u13479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13480 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:166px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13482 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:168px;
  width:128px;
  height:27px;
}
#u13483 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13482_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u13484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13485 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:254px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13487 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:260px;
  width:75px;
  height:19px;
}
#u13488 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u13487_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13490 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:298px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u13491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13492 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:304px;
  width:75px;
  height:19px;
}
#u13493 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u13492_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#1E1E1E;
}
#u13494 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:436px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u13495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13496 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:466px;
  width:140px;
  height:40px;
}
#u13497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13498 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:522px;
  width:140px;
  height:40px;
}
#u13499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13500 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:91px;
  width:84px;
  height:19px;
  color:#FFFFFF;
}
#u13501 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u13500_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13502 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:91px;
  width:84px;
  height:19px;
  color:#FFFFFF;
}
#u13503 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u13502_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13504 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:91px;
  width:84px;
  height:19px;
  color:#FFFFFF;
}
#u13505 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u13504_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
