.ax_default {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_1 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
  text-align:left;
}
.heading_2 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
  text-align:left;
}
.heading_3 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
.heading_4 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.heading_5 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.heading_6 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
  text-align:left;
}
.paragraph {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
.box_1 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
._复选框 {
  text-align:left;
}
.box_3 {
}
.button {
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._多行文本框 {
  color:#000000;
  text-align:left;
}
._图片 {
  color:#000000;
}
.box_2 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.box_31 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.box_4 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.ellipse {
}
.image {
}
.placeholder {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.default_button {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.link_button {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
.image1 {
  font-size:13px;
  color:#000000;
}
._文本段落 {
  text-align:left;
}
._单选按钮 {
  text-align:left;
}
._形状 {
  font-family:'微软雅黑';
  font-weight:normal;
  font-style:normal;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._复选框1 {
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.box_21 {
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.text_field {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.text_area1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.droplist {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.line {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.arrow {
}
.checkbox1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.radio_button {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.flow_shape {
  font-size:13px;
  color:#000000;
}
.tree_node {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.html_button {
  font-size:13px;
  color:#000000;
}
.table_cell {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
.connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.menu_item {
}
.icon {
}
.primary_button {
  color:#FFFFFF;
}
.image2 {
  color:#000000;
}
.shape {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._文本段落1 {
  font-family:'微软雅黑';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._图片1 {
  font-family:'微软雅黑';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._形状1 {
  font-family:'微软雅黑';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._文本段落2 {
  text-align:left;
}
._一级标题 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._形状2 {
}
._图片2 {
  color:#000000;
}
._水平线 {
}
._垂直线 {
}
.new_style {
  color:#000000;
  text-align:center;
}
._文本段落3 {
  text-align:left;
}
