body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-41px;
  width:509px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:10px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:70px;
  width:158px;
  height:40px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:844px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:156px;
  width:158px;
  height:40px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:379px;
  width:200px;
  height:60px;
  font-size:12px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:70px;
  width:158px;
  height:40px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:30px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u12_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-4px;
  width:8px;
  height:44px;
}
#u12_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:28px;
  width:18px;
  height:18px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:30px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:52px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:8px;
  height:44px;
}
#u14_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:28px;
  width:18px;
  height:18px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:110px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:26px;
  width:106px;
  height:8px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:26px;
  width:8px;
  height:20px;
}
#u16_seg3 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:34px;
  width:18px;
  height:18px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:110px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:26px;
  width:102px;
  height:8px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:26px;
  width:8px;
  height:20px;
}
#u18_seg3 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:34px;
  width:18px;
  height:18px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:226px;
  width:158px;
  height:40px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:196px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:18px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:304px;
  width:158px;
  height:40px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:266px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u26_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:18px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:344px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:23px;
  width:18px;
  height:18px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:409px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-89px;
  width:8px;
  height:93px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-89px;
  width:174px;
  height:8px;
}
#u30_seg3 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-94px;
  width:18px;
  height:18px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-61px;
  width:100px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:494px;
  width:120px;
  height:49px;
  color:#0000FF;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:439px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:43px;
  width:18px;
  height:18px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:583px;
  width:200px;
  height:60px;
  font-size:12px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:543px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:593px;
  width:158px;
  height:40px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:613px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-9px;
  width:18px;
  height:18px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:693px;
  width:158px;
  height:40px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:777px;
  width:158px;
  height:40px;
  font-size:11px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:643px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:733px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:817px;
  width:0px;
  height:0px;
}
#u52_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u52_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:18px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:633px;
  width:0px;
  height:0px;
}
#u54_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:235px;
}
#u54_seg1 {
  border-width:0px;
  position:absolute;
  left:-203px;
  top:227px;
  width:207px;
  height:8px;
}
#u54_seg2 {
  border-width:0px;
  position:absolute;
  left:-209px;
  top:222px;
  width:18px;
  height:18px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:209px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
